/* yswang */
.milkdown {
  
  .milkdown-dropdown-menu {
    position: absolute;
    padding: 5px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    min-width: 130px;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(17, 20, 24, .1), 0 1px 1px rgba(17, 20, 24, .2), 0 2px 6px rgba(17, 20, 24, .2);
  }

  .milkdown-dropdown-menu-item {
    position: relative;
    padding: 6px 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    min-height: 2em;
    gap: 8px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
  }
  .milkdown-dropdown-menu-item:hover {
    background-color: var(--crepe-color-hover);
    border-radius: 3px;
  }

  .milkdown-dropdown-menu-icon {
    display: flex;
    align-items: center;
  }

  .milkdown-dropdown-menu-text {
    flex: 1 1;
    width: 100%;
    min-width: 0;
    padding-right: 10px;
    line-height: 1.2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .milkdown-dropdown-menu-divider {
    height: 1px;
    font-size: 0;
    line-height: 1.0;
    overflow: hidden;
    border-top: 1px solid #ddd;
    margin: 5px -5px;
  }

  .milkdown-dropdown-submenu-icon {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    margin-right: -5px;
    opacity: 0.8;
  }

  .milkdown-dropdown-submenu .milkdown-dropdown-menu {
    display: none;
    left: 100%;
    top: 50%;
    margin-left: 0px;
    transform: translateY(-50%);
  }
  .milkdown-dropdown-submenu:hover .milkdown-dropdown-menu {
    display: flex;
    flex-direction: column;
  }

  /* handle-menu */
  .milkdown-handle-menu {
    &[data-show='false'] {
      display: none;
    }

    position: absolute;
    z-index: 10;
    display: block;
    font-family: var(--crepe-font-default);
    color: var(--crepe-color-on-surface);
    background: var(--crepe-color-surface);
    border-radius: 5px;
    box-shadow: var(--crepe-shadow-1);

    .milkdown-handle-menu-items {
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 6px;
    }
    .menu-header {
      color: rgba(0,0,0,0.5);
      font-size: 0.95em;
    }
    .menu-items {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 6px;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 28px;
      min-width: 28px;
      background-color: transparent;
      padding: 4px;
      border-radius: 3px;
      cursor: pointer;
      &:hover {
        background: var(--crepe-color-hover);
      }
      svg {
        width: 1.2em;
        height: 1.2em;
        color: var(--crepe-color-outline);
      }
    }
  }

  /* mermaid */
  .milkdown-mermaid-preview-panel {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .milkdown-mermaid-preview-panel.fullscreen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    z-index: 9999;
    background-color: var(--crepe-color-surface);
    box-shadow: 0 0 0 1px rgba(17, 20, 24, .1), 0 1px 1px rgba(17, 20, 24, .2), 0 2px 6px rgba(17, 20, 24, .2);
    border-radius: 5px;

    & .milkdown-mermaid-svg {
      height: 100%;
      max-height: 100%;
    }
  }
  
  .milkdown-mermaid-svg {
    flex: none;
    position: relative;
    min-height: 100px;
    transform-origin: center;
    backface-visibility: hidden;
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
  }
  .milkdown-mermaid-svg > div {
    flex: 1 1;
    width: 100%;  
  }
  .milkdown-mermaid-toolbar {
    position: absolute;
    right: 5px;
    top: 5px;
    display: flex;
    gap: 2px;
    align-items: center;
    justify-content: flex-end;
  }
  .milkdown-mermaid-toolbar .toolbar-item {
    position: relative;
    border: 0 none;
    background-color: transparent;
    padding: 4px;
    min-width: 28px;
    min-height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 3px;
  }
  .milkdown-mermaid-toolbar .toolbar-item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.0;
    pointer-events: none;
  }
  .milkdown-mermaid-toolbar .toolbar-item svg {
    opacity: 0.8;
    pointer-events: none;
  }
  .milkdown-mermaid-toolbar .toolbar-item:hover {
    background-color: var(--crepe-color-hover);
  }
  .milkdown-mermaid-toolbar .milkdown-dropdown-menu {
    display: none;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
  }
  .milkdown-mermaid-toolbar .toolbar-item:hover .milkdown-dropdown-menu {
    display: flex;
  }

}
