.milkdown {
    --crepe-color-background: #fdfcff;
    --crepe-color-on-background: #1b1c1d;
    --crepe-color-surface: #f8f9ff;
    --crepe-color-surface-low: #f2f3fa;
    --crepe-color-on-surface: #191c20;
    --crepe-color-on-surface-variant: #43474e;
    --crepe-color-outline: #616368;
    --crepe-color-primary: #37618e;
    --crepe-color-secondary: #d7e3f8;
    --crepe-color-on-secondary: #101c2b;
    --crepe-color-inverse: #2e3135;
    --crepe-color-on-inverse: #eff0f7;
    --crepe-color-inline-code: #ba1a1a;
    --crepe-color-error: #ba1a1a;
    --crepe-color-hover: #eceef4;
    --crepe-color-selected: #e1e2e8;
    --crepe-color-inline-area: #d8dae0;

    --crepe-font-title: Rubik, Cambria, 'Times New Roman', Times, serif, "Apple Color Emoji", "Noto Color Emoji", "Segoe UI Emoji";
    --crepe-font-default: Arial, Helvetica, sans-serif, "Apple Color Emoji","Segoe UI Emoji";
    --crepe-font-code: 'JetBrains Mono', Menlo, Monaco, 'Courier New', Courier, monospace, "Apple Color Emoji", "Noto Color Emoji", "Segoe UI Emoji";

    --crepe-shadow-1: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
    --crepe-shadow-2: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
}

html {
    font-size: 16px;
}

body {
    font-size: 0.875rem;
}

.milkdown {
    background-color: transparent;
}

.milkdown .ProseMirror p {
    font-size: 0.875rem;
    line-height: 1.8;
}

.milkdown p.crepe-placeholder,
.milkdown p.crepe-placeholder::before {
    font-size: 0.8rem;
}

.milkdown .ProseMirror {
    /*padding: 30px 80px;*/
    padding: 16mm 20mm;
}

.milkdown-drop-uploading-tip {
    padding: 2px 4px;
    border-radius: 4px;
    background-color: var(--crepe-color-hover);
    border-radius: 4px;
}

.milkdown .ProseMirror code {
    padding-left: 4px;
    padding-right: 4px;
    background-color: bisque;
}

.ͼo .cm-activeLineGutter {
    background-color: transparent;
}


.milkdown milkdown-link-edit>.link-edit {
    border-radius: 6px;
    align-items: center;
}

.milkdown milkdown-latex-inline-edit {
    border-radius: 6px;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 6px;
}


.milkdown milkdown-block-handle .operation-item svg {
    width: 20px;
    height: 20px;
}

.milkdown milkdown-block-handle .operation-item {
    width: 26px;
    height: 26px;
    line-height: 1.0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.milkdown .ProseMirror blockquote {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    background-color: var(--crepe-color-hover);
    border-radius: 3px;
}

.milkdown .ProseMirror blockquote::before {
    top: 0;
    bottom: 0;
    border-radius: 3px 0 0 3px;
}


.milkdown milkdown-image-inline .empty-image-inline {
    border-radius: 4px;
}

.milkdown milkdown-code-block {
    border-radius: 5px;
}

.milkdown milkdown-code-block .tools .language-button {
    opacity: 1 !important;
}

.milkdown .milkdown-slash-menu {
    border-radius: 6px;
}
.milkdown .milkdown-slash-menu .tab-group {
    padding: 0;
}
.milkdown .milkdown-slash-menu .tab-group ul li {
    font-size: 1em;
    border-radius: 5px;
}
.milkdown .milkdown-slash-menu .menu-groups .menu-group li {
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 1em;
}

.milkdown .milkdown-mermaid-preview-panel p {
    padding: 0;
    margin: 0;
    line-height: inherit;
    font-size: inherit;
}

.split-editor {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.split-editor>div.ProseMirror {
    flex: 1;
}

.milkdown-split-editor {
    flex: 1;
}

.milkdown .milkdown-toolbar {
    display: flex;
    align-items: center;
    padding: 4px;
    gap: 4px;
}
.milkdown .milkdown-toolbar button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.milkdown .milkdown-toolbar .toolbar-item {
    min-width: 30px;
    min-height: 30px;
    margin: 0;
}
.milkdown .milkdown-toolbar .divider {
    height: 24px;
    margin: 0 4px;
}
.milkdown .milkdown-toolbar .toolbar-item svg {
    width: 1.2em;
    height: 1.2em;
}
.milkdown .milkdown-toolbar .toolbar-item-text {
    display: inline-block;
}
.milkdown .milkdown-toolbar .ai-button {
    width: auto;
    gap: 4px;
}
.milkdown .milkdown-toolbar .ai-button svg {
    width: 1.2em;
    height: 1.2em;
}
.milkdown .milkdown-toolbar .ai-button .toolbar-item-text {
    background: linear-gradient(320deg, #b14eed 6%, #1e64ff 61%, #37c5ff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.milkdown-file-attachment {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: var(--crepe-color-hover);
}


/* this is a rough fix for the first cursor position when the first paragraph is empty */
.ProseMirror>.ProseMirror-yjs-cursor:first-child {
    margin-top: 16px;
}

/* This gives the remote user caret. The colors are automatically overwritten*/
.ProseMirror-yjs-cursor {
    display: inline-block;
    position: relative;
    line-height: inherit;
    font-size: 1em;
    width:2px;
    margin-left: -1px;
    margin-right: -1px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-color: orange;
    word-break: normal;
    pointer-events: none;
}

/* This renders the username above the caret */
.ProseMirror-yjs-cursor>div {
    position: absolute;
    top: -1em;
    left: -1px;
    margin-top: -1px;
    font-size: 12px;
    line-height: 14px;
    padding: 2px 2px 1px 2px;
    color: white;
    background-color: rgb(250, 129, 0);
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    user-select: none;
    white-space: nowrap;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    pointer-events: none;
}