.milkdown {
    --crepe-color-background: #fdfcff;
    --crepe-color-on-background: #1b1c1d;
    --crepe-color-surface: #f8f9ff;
    --crepe-color-surface-low: #f2f3fa;
    --crepe-color-on-surface: #191c20;
    --crepe-color-on-surface-variant: #43474e;
    --crepe-color-outline: #616368;
    --crepe-color-primary: #37618e;
    --crepe-color-secondary: #d7e3f8;
    --crepe-color-on-secondary: #101c2b;
    --crepe-color-inverse: #2e3135;
    --crepe-color-on-inverse: #eff0f7;
    --crepe-color-inline-code: #ba1a1a;
    --crepe-color-error: #ba1a1a;
    --crepe-color-hover: #eceef4;
    --crepe-color-selected: #e1e2e8;
    --crepe-color-inline-area: #d8dae0;

    --crepe-font-title: Rubik, Cambria, 'Times New Roman', Times, serif, "Apple Color Emoji", "Noto Color Emoji", "Segoe UI Emoji";
    --crepe-font-default: Arial, Helvetica, sans-serif, "Apple Color Emoji","Segoe UI Emoji";
    --crepe-font-code: 'JetBrains Mono', Menlo, Monaco, 'Courier New', Courier, monospace, "Apple Color Emoji", "Noto Color Emoji", "Segoe UI Emoji";

    --crepe-shadow-1: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
    --crepe-shadow-2: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
}

.milkdown {
    background-color: transparent;
}
.milkdown .ProseMirror {
    padding: 0;
}
.milkdown .ProseMirror p {
    font-size: 1em;
    line-height: 1.8;
    padding: 0;
    margin-bottom: 7px;
}
.milkdown .ProseMirror >:first-child {
    margin-top: 0 !important;
}
.milkdown .ProseMirror h1,
.milkdown .ProseMirror h2,
.milkdown .ProseMirror h3,
.milkdown .ProseMirror h4,
.milkdown .ProseMirror h5,
.milkdown .ProseMirror h6 {
    margin-top: 1em;
    margin-bottom: 0.8em;
    line-height: 1.25;
    font-weight: 600;
}
.milkdown .ProseMirror h1 {
    font-size: 2em;
    padding-bottom: 0.3em;
}
.milkdown .ProseMirror h2 {
    font-size: 1.5em;
    padding-bottom: 0.3em;
}
.milkdown .ProseMirror h3 {
    font-size: 1.25em;
}
.milkdown .ProseMirror h4 {
    font-size: 1em;
}
.milkdown .ProseMirror h5 {
    font-size: .875em;
}
.milkdown .ProseMirror h6 {
    font-size: .85em;
    color: var(--crepe-color-outline);
}
.milkdown .ProseMirror hr {
    background-color: var(--crepe-color-selected)
}

.milkdown .crepe-placeholder::before {
    font-size: 14px;
}

.milkdown-drop-uploading-tip {
    padding: 2px 4px;
    border-radius: 4px;
    background-color: var(--crepe-color-hover);
    border-radius: 4px;
}

.milkdown .ProseMirror code {
    padding-left: 4px;
    padding-right: 4px;
    background-color: bisque;
}

.ͼo .cm-activeLineGutter {
    background-color: transparent;
}

.milkdown .milkdown-link-edit>.link-edit {
    border-radius: 6px;
    align-items: center;
}

.milkdown .milkdown-latex-inline-edit {
    border-radius: 6px;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 6px;
}

.milkdown .milkdown-block-handle .operation-item {
    width: 24px;
    height: 24px;
    line-height: 1.0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.milkdown .milkdown-block-handle .operation-item svg {
    width: 16px;
    height: 16px;
}

.milkdown .ProseMirror blockquote {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    background-color: var(--crepe-color-hover);
    border-radius: 3px;
}

.milkdown .ProseMirror blockquote::before {
    top: 0;
    bottom: 0;
    border-radius: 3px 0 0 3px;
}
.milkdown .milkdown-list-item-block li {
    gap: 4px;
}
.milkdown .milkdown-list-item-block .list-item p {
    margin: 0;
    padding: 0;
}
.milkdown .milkdown-list-item-block li .label-wrapper {
    height: 26px;
    color: inherit;
}
.milkdown .milkdown-list-item-block li .label-wrapper .label {
    width: 24px;
    height: 24px;
    padding: 0;
}
.milkdown .milkdown-toolbar .toolbar-item.active {
    background-color: rgba(30,100,255,.1);
    color: #1e64ff;
}
.milkdown .milkdown-toolbar .toolbar-item.active svg {
    color: inherit;
    fill: currentColor;
}

.milkdown .milkdown-image-inline .empty-image-inline {
    border-radius: 4px;
}

.milkdown .milkdown-code-block {
    padding: 10px;
    border-radius: 5px;
}

.milkdown .milkdown-code-block .tools .language-button {
    opacity: 1 !important;
}

.milkdown .milkdown-slash-menu {
    font-size: 0.95em;
    border-radius: 6px;
}
.milkdown .milkdown-slash-menu .menu-groups .menu-group {
    margin-bottom: 5px;
}
.milkdown .milkdown-slash-menu .menu-groups .menu-group h6 {
    font-size: 1em;
    padding: 6px 8px;
}
.milkdown .milkdown-slash-menu .menu-groups .menu-group + .menu-group::before {
    margin: 0;
}
.milkdown .milkdown-slash-menu .tab-group {
    padding: 0;
}
.milkdown .milkdown-slash-menu .tab-group ul li {
    padding: 4px 8px;
    font-size: 1em;
    border-radius: 5px;
}
.milkdown .milkdown-slash-menu .menu-groups .menu-group li {
    padding: 4px 8px;
    gap: 10px;
    border-radius: 4px;
    font-size: 1em;
}
.milkdown .milkdown-slash-menu .menu-groups .menu-group li > span {
    font-size: 1em;
    font-weight: 400;
}
.milkdown .milkdown-slash-menu .menu-groups .menu-group li svg {
    width: 18px;
    height: 18px;
}

.milkdown .milkdown-table-block th, 
.milkdown .milkdown-table-block td {
    border-color: #ccc;
}
        

.milkdown .milkdown-mermaid-preview-panel p {
    padding: 0;
    margin: 0;
    line-height: inherit;
    font-size: inherit;
}

.split-editor {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.split-editor>div.ProseMirror {
    flex: 1;
}

.milkdown-split-editor {
    flex: 1;
}

.milkdown .milkdown-toolbar {
    display: flex;
    align-items: center;
    padding: 6px;
    gap: 4px;
}
.milkdown .milkdown-toolbar button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.milkdown .milkdown-toolbar .toolbar-item {
    min-width: 28px;
    min-height: 28px;
    margin: 0;
}
.milkdown .milkdown-toolbar .divider {
    height: 24px;
    margin: 0 4px;
}
.milkdown .milkdown-toolbar .toolbar-item svg {
    width: 1.2em;
    height: 1.2em;
}
.milkdown .milkdown-toolbar .toolbar-item-text {
    display: inline-block;
}
.milkdown .milkdown-toolbar .ai-button {
    width: auto;
    gap: 4px;
}
.milkdown .milkdown-toolbar .ai-button svg {
    width: 1.2em;
    height: 1.2em;
}
.milkdown .milkdown-toolbar .ai-button .toolbar-item-text {
    display: inline-block;
    padding-right: 5px;
    background: linear-gradient(320deg, #b14eed 6%, #1e64ff 61%, #37c5ff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.milkdown-file-attachment {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: var(--crepe-color-hover);
}


/* this is a rough fix for the first cursor position when the first paragraph is empty */
.ProseMirror>.ProseMirror-yjs-cursor:first-child {
    margin-top: 16px;
}

/* This gives the remote user caret. The colors are automatically overwritten*/
.ProseMirror-yjs-cursor {
    display: inline-block;
    position: relative;
    line-height: inherit;
    font-size: 1em;
    width:2px;
    margin-left: -1px;
    margin-right: -1px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-color: orange;
    word-break: normal;
    pointer-events: none;
}

/* This renders the username above the caret */
.ProseMirror-yjs-cursor>div {
    position: absolute;
    top: -1em;
    left: -1px;
    margin-top: -1px;
    font-size: 12px;
    line-height: 14px;
    padding: 2px 2px 1px 2px;
    color: white;
    background-color: rgb(250, 129, 0);
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    user-select: none;
    white-space: nowrap;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    pointer-events: none;
}